/* p{
    border-radius: 28px;
    border: dotted pink;
    padding: 9px;
    margin: 0px;
}
button{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: dotted rgb(14, 241, 29);
} */

/* span{
    border: 2px solid black;
    padding: 3px;
    margin: 2px;
    border-radius: 5px;
    color: rgb(74, 7, 133);
    background-color: blanchedalmond;
} */
.row-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
    
}
.square-box{
    border: 1px solid ;
    height: 100px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    color: chocolate;
}
.board-container{
    margin: 30px;
}
button{
    border-radius: 10px;
    color: brown;
    background-color: bisque;
}
h2{
    font-weight: 400;
}

